[user]
	name = Gabriel Esteban Pinochet Soto
	email = gpin2@pdx.edu
[core]
	editor = nvim
[alias]
	adog = log --all --decorate --oneline --graph
    dog = log --decorate --oneline --graph
    dg = log --decorate --graph
